:root{
    --background: rgba(255,255,255,.80);
    --blue:#32375D;
    --gold:#CAA73A;
    --accent:#F7F6EF;
}
*, *::before, *::after{
    box-sizing:border-box;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background: var(--accent);
}

/* Navigation styles start here bude */
header{
    min-height: 4em;
    text-align: center;
    z-index: 999;
    width: 100%;
    background: var(--background);
}

.nav-toggle{
    display: none;
    
}

.nav-toggle-label{
    position: absolute;
    top: 2em;
    right: 0;
    margin-right:1em;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
display: block;
background: #000;
height: 3px;
width: 2em;
border-radius: 2px;
position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 5px;
}
.nav-toggle-label span::after{
    top: 5px;
}


nav{
    background: var(--background);
    position: absolute;
    text-align: right;
    top: 4em;
    right: 0;
    padding-right:1em;
    width: 50%;
    z-index: 999;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a{
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out ;
}
nav a:hover{
    color:var(--gold);
}
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity:1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* desktop compatibility #mobile first baba */
@media  screen and (min-width:400px) {
    .nav-toggle-label{
        display: none;
    }

    header{
        height: 4em;
        display: grid;
        grid-template-columns: 1fr auto minmax(300px, 1fr) 1fr;
        
    }
    .logo{
        grid-column: 2/3;
        align-self: center;
    }
    nav{
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
        
    }
    nav a{
        opacity: 1;
        position:relative;
    }
    nav a::before{
        content: '';
        display: block;
        height:5px;
        background: black;
        position: absolute;
        top:-.25em;
        left:0;
        right:0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before{
        transform:scale(1,1);
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav li{
        margin-left: 1em;
        margin-bottom: 0;
    }
    
}
@media  screen and (min-width:500px) {
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(380px, 1fr) 1fr;
        
    }
}
@media  screen and (min-width:650px) {
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(400px, 1fr) 1fr;
        
    }
    nav li{
        margin-left: 2em;
        margin-bottom: 0;
    }
    
}
@media  screen and (min-width:700px) {
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(500px, 1fr) 1fr;
        
    }
    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }
   
}

/* Hero image */
.Top-Hero{
    margin: 0;
    padding: 0;
   
}
.hero-image{
    top:0;
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    object-position: center center;
    margin: 0;
}

.hero-text{
    position: absolute;
    top: 40%;
    left: 25%;
    right: auto;
    align-self: center;
    transition: translate(-50%, -50%);

}

@media screen and (max-width:750px){
    .hero-text{
        top:40%;
        left:15%;
        max-width: 70%;
        text-align: center;
    }
    
}

@media screen and (max-width:360px){
    .hero-text{
        top:15%;
        text-align: center;
        left:15%;
        max-width: 70%;
    }
    
}


/* End */




/* Content/body css */
.content{
    background: var(--accent);
    margin-top: 0;
}
.content h2{
    text-align: center;
}
.cards{
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 4em 0 4em 0;
    background: inherit;
    background-repeat: no-repeat;
}
.card{
    border-radius: 1em;
    max-width: 370px;
    height: 215px;
    margin: auto;
    padding: .5em;
    text-align: center;
    box-shadow: .1em .2em .3em .4em var(--gold);
    margin: 1em;
    background: #fff;
}

.card :is(button){
    background: var(--gold);
    padding: .5em;
    border-style: none;
    border: 1px solid var(--blue);
    border-radius: .3em;
}
.card-fa{
    font-size: 4em;
}


/* Sponsors Section */
.clients{
    background: grey;
    text-align: center;
    padding: 2em;
}
.clients-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.client{
    margin-top:1em;
    height: 6em;
    width: 8em;
    background: var(--gold);
    border-radius: .3em;
}





/* footer css here */
footer{
    /* display: grid;
    grid-template-columns:auto 1fr 1fr 2fr;
    background: grey; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #6d726d;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6{
    color:var(--blue)
}
footer a {
    text-decoration: none;
    color: var(--gold); 
}
footer ul{
    list-style: none;
    align-content: center;
    padding: 0;
}

footer form{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    row-gap: .3em;
}


/* .contact-details :is(p){
    padding-left: 5em;
} */
@media  screen and (max-width:850px) {
    footer{
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-content: center;
    }
    footer :is(button){
        max-width: 50%;
        margin: auto;
    }
}


/* for all inputs */
input, textarea{
    width: 100%;
    border: 1px solid var(--blue);
    border-radius: .2em;
    padding: .2em;
    font-size: 1.1em;
}
textarea{
    font-family: inherit;
}
/* end of inputs styles */
footer button{
    border-style: none;
    border: 1px solid var(--blue);
    border-radius: .4em;
    background: var(--gold);
    color: var(--blue);
    padding: .5em;
    width: 60%;
    margin: auto;
}
/* Services Css */
.intro{
    text-align: left;
    background: #fff;
    width: 90%;
    margin: 6em auto 3em auto;
    padding: 1em;
    border-radius:.3em;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.text-body{
    text-align: left;
}
.text-body p{
    text-align: justify;
}
.services{
    margin: 3em auto 3em auto;
    display: flex;
    justify-content: center;
}
.service{
    width:90%;
    background: #fff;
    border-radius: .3em;
    text-align: left;
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    padding: 1em;
}
.icon{
    grid-column: 1/2;
    font-size: 6em;
}
.service .service-discription{
    text-align: justify;
}
.services .header .icon{
    grid-column: 1/2;
}
.services .service-discription{
    grid-column: 2/5;
}